.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links li a:hover {
    background-color: #555;
    border-radius: 5px;
}
@media (max-width: 600px) {
    #employee-list {
        grid-template-columns: 1fr;
    }
    
    .navbar {
        display: none; 
    }
}
