body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0px;
  padding-bottom: 2rem;
  background: linear-gradient(135deg, #caedcee8, #ccc9c9e0)
}

h1 {
  text-align: center;
  color: #333;
}
